/*----------------------------------------------------------------------------*/
/* Variables                                                                  */
/*----------------------------------------------------------------------------*/
@error-color-primary: #f5b8b2;
@error-color-secondary: #e9322d;

/*----------------------------------------------------------------------------*/
/* Mixins                                                                     */
/*----------------------------------------------------------------------------*/
.no-margins() {
  margin: 0;
}

/*----------------------------------------------------------------------------*/
/* CSS Reset                                                                  */
/*----------------------------------------------------------------------------*/
html, body {
  .no-margins;
  padding: 0;
}

hr {
  height: 1px;
  border: none;
  background-color: #bbb;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

/*----------------------------------------------------------------------------*/
/* Shorthands                                                                 */
/*----------------------------------------------------------------------------*/
.right {
  float: right;
}

.left {
  float: left;
}

.padded {
  margin: 20px;
}

.relative {
  position: relative;
}

.full {
  height: 100%;
  width: 100%;
}

.rounded {
  border-radius: 5px;
}

/*----------------------------------------------------------------------------*/
/* Flash messages                                                             */
/*----------------------------------------------------------------------------*/
.error {
  margin-top: 0.60em;

  border: 1px solid @error-color-secondary;

  background-color: @error-color-primary;
  color: black;
}

/*----------------------------------------------------------------------------*/
/* Top banner                                                                 */
/*----------------------------------------------------------------------------*/
.banner {
  display: block;

  height:75px;

  color: white;
  background-color: black;
}

.banner-inner {
  position: relative;

  height: 100%;

  margin-left: 175px;
  margin-right: 175px;

  h1 {
    position: absolute;

    bottom: 0px;

    .no-margins;
  }
}

/*----------------------------------------------------------------------------*/
/* Login form                                                                 */
/*----------------------------------------------------------------------------*/
.content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  min-width: 550px;
  max-width: 800px;
}

.bounding-box {
  width: 100%;

  margin-top: 80px;

  border: solid 1px #bbb;

  background-color: #f4f4f4;
}

.button-align {
  width: 230px;
  text-align: center;
}

.button-align > p {
  .no-margins;
  display: inline;
  line-height: 34px;
}

.button-align > button, input {
  display: inline;
}
