# Ignoring node_modules and keeping dependencies with 'npm shrinkwrap'
node_modules

# HTTPS
server.key
server.csr
server.crt
pem_key

#AWS Credentials
uploadCreds.js
deleteCreds.js
creds.zip

#Email Credentials
email.js

keyfile.js
*.swp
.DS_Store
