doctype html
html(lang="en")
  head
    include base_head
  body
    include banner 

    div.content
      div.center-standard-page
        div.sp-padding
          h1 About
          p.question So how do you pronounce 'Chive?
          p 'Chive is short for archive and is pronounced "kahyv." 'Chive is a great way to easily ARCHIVE all the content you're interested in and an easy way to access other's content as well.
          p.question What is 'Chive?
          p 'Chive is a way for you to keep track of the videos, pictures, and news that are important to you and share it with your friends in one place. 'Chive archives and organizes your content, making it easy to connect concepts or search in the future. Instead of going through all the boring statuses of "friends" you barely know, you can choose to follow certain people and read recommended articles tailored to your interests. Use it privately as a smart replacement for bookmarks or publically as a forum for dicussion of the latest news!
          p.question Who created 'Chive and why?
          p 'Chive was created by Erik Portillo, Collin Stedman, Jennie Werner, Jeffrey Yan, and Glenna Yu as a COS 333: Advanced Programming Techniques project at Princeton University for the Spring 2014 semester, taught by Brian Kernighan.
          p.question What's the difference between 'Chive and Facebook, Pinterest, bookmarking, etc.?
          p 'Chive provides an easy platform to not only save links from across the internet, but to share them with friends. 'Chive's sole purpose is to share links and to discuss them. There's no risk at being side-tracked by an elementary school friend's recent pictures or annoying statuses. We provded you just with the content you want, with an easy way to access and share it.
          p.question Sounds great! Where can I sign up?
          p
            | Sign up is easy! Click on this 
            a(href="#fakerightnow") link
            |  to get started! Enjoy!

    include footer
