doctype html
html(lang="en")
  head
    include base_head

  body
    div.pure-g-r.banner
      div.pure-u-3-4.banner-inner
        div.banner-nav
          h4
            a.pure-button.button-primary(href="#") Go to Profile Page!
        div.bookmarkletCenter
          h2.pure-hidden-phone=title
          h3 SAVED!