doctype html
html(lang="en")
  head
    include base_head

  body
    div.pure-g-r.banner
      div.pure-u-3-4.banner-inner
        div.bookmarkletCenter
          h2.pure-hidden-phone=title
          h3 Please log in:
          a.pure-button.button-primary(href="#") Login