doctype html
html
  head
    meta(http-equiv='content-type', content='text/html', charset='utf-8')
    title= subject
  body
    p Thank you for creating an account with 'Chive!
    p Click on the link below to verify you account.
    a(href='https://' + domain + '/verify/' + to + '/' + ver_code) Verify My Account
