div.pure-g-r.footer-me
	div.pure-u-3-4.banner-inner
		div.footer-nav
			div
				h4
					a(href='#fakelink') Home
				h4
					a(href='#fakelink') About
				h4
					a(href='#fakelink') Contact Us
				h4
					a(href='#fakelink') Help
				h4
					a(href='#fakelink') 'Chive &#169 2014