doctype html
html(lang="en")
  head
    include base_head
  body
    include banner
    
    div.content
      div.center-standard-page
        div.sp-padding
          h1 Help
          p.question What do I need to make an account?
          p 
            | All you need to is to enter your first and last name, email, and password on 
            a(href="#fakerightnow") this
            |  page and then verify your email. Once you've done that, all you need to do is log in and you're ready to start using #{title}
          p.question How do I add an article to my archive?
          p Simply make sure you're logged into #{title} and on your homepage. At the top of the page should be text box saying "Share this!" Simply copy and paste your URL into the box and your URL has been saved!
          p.question How can I access my archive?
          p Click on your name at the top of any page on #{title}'s website and you'll be brought to your profile page containing all your saved archives.
          p.question How can I access other people's archives?
          p At the top of the page, start typing in the person's email where it says "Looking for something?" Click search and you'll be brought to their profile page with all their archived content.
          p.question Is it possible for me to discuss content I post with my friends?
          p Yes! #{title} allows you to comment on different archived content and have discussions with your friends about what you have posted.
          p.question I have suggestions for improvements to your awesome website! Where can I submit them?
          p
            | Great! We'd love to hear your suggestions! Send us an email at 
            a(href="mailto:chivecontact@gmail.com") chivecontact@gmail.com
            |  .


    include footer