doctype html
html(lang="en")
  head
    include base_head
  body
    include banner
    div.content
      div#prof-pic(style='background-image: url(#{image})')
      form(enctype='multipart/form-data' action='/upload/image/#{user.user_id}' method='post')
        input(type='file' name='filefield')
        input(type='submit' value='Submit')
      each link in links
        p= link
      each source in image_sources
        img(src = source, height='42', width='42')
      if editable
        p editable
    include page_scripts
