doctype html
html(lang='en')
  head
    meta(http-equiv='content-type' content='text/html' charset='utf-8')
    meta(name='viewport' content='width=device-width')
    link(href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css')
    link(rel='stylesheet' type='text/css' href='../public/css/pure-min.css')
    link(rel='stylesheet' type='text/css' href='../public/css/styleProject.css')
    link(rel='stylesheet' type = 'text/css' href='../public/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    title=title
  body
    div.pure-g-r.banner
      div.pure-u-3-4.banner-inner
        div.banner-nav
          h4
            img(src="../public/Logo.png" style="width: 9%; height: 85%")
          div(style="float:right")
            
            h4
              a(href='#about') About
            h4
              a(href='/') FAQs
    div.splashPage
      div.red
        div.content-top
          div.leftside
            span
              br
              h1(style="font-size: 65px") Welcome to 'Chive!
              br
              center
                p.larger-font.
                  Where you can save and share the links you care about, without the distractions of other social media sites
              br
              center
                p.larger-font
                  | "Great minds discuss 
                  strong ideas
                  | , average minds dicuss 
                  strong events
                  | , small minds discuss 
                  strong people
                  |." 
                  br 
                  |- Eleanor Roosevelt
                br
                p.larger-font
                  | Created by Erik Portillo, Collin Stedman, 
                  br 
                  | Jennie Werner, Jeffrey Yan, and Glenna Yu
                a.grey-link(ahref="#fakerightnow") Go to the site!
          div.rightside
            div.padded
              p
                img(src="../public/temporarySplash.jpg" style="width: 100%; height: 400px")
          div(style="clear:both")
      div.grey-primary(id="about")
        div.content-modified
          div(style="padding:20px")
            p 
              warg warg warg
        div.hr
      div.grey-primary(id="faq")
        div.content-modified
          div(style="padding:20px")
            p 
              warg warg warg          