script(type='application/javascript' src='js/jquery-1.10.2.min.js')
script(type='application/javascript' src='http://fb.me/react-0.8.0.js')
script(type='application/javascript' src='http://fb.me/JSXTransformer-0.8.0.js')
script(type='application/javascript' src='js/script.js')
script(type='application/javascript' src='js/jquery-ui-1.10.4.custom.js')
script(type='application/javascript' src='js/search.js')
script(type='application/javascript' src="js/savelink.js")
