script(type='application/javascript' src='js/jquery-1.10.2.min.js')
script(src='http://fb.me/react-0.8.0.js')
script(src='http://fb.me/JSXTransformer-0.8.0.js')
script(type='application/javascript' src='js/script.js')
