/*----------------------------------------------------------------------------*/
/* CSS reset */
/*----------------------------------------------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------------*/
/* Shorthands                                                                 */
/*----------------------------------------------------------------------------*/
.right {
  float: right;
}

.left {
  float: left;
}

/*----------------------------------------------------------------------------*/
/* Flash messages */
/*----------------------------------------------------------------------------*/
.flash {
  position: fixed;
  display: inline-block;

  width: 100%;

  border: 1px solid #ee5fad;
}

.flash-inner {
  height:50px;
  line-height:50px;
  vertical-align:middle;

  padding: 0 10px;
}

.flash-inner h5 {
  margin: 0;
}

.flash-spacing {
  height: 50px;
}

.error {
  background-color: #ee7f2d;
  color: black;
}

.close {
  cursor: pointer;
}

/*----------------------------------------------------------------------------*/
/* Top banner                                                                 */
/*----------------------------------------------------------------------------*/
.banner {
  display: block;

  width: 100%;
  height:50px;

  color: white;
  background-color: black;
}

.banner > h1 {
  margin: 0;
}
