/*-----------------------------------------------------------------------------*
/* CSS reset                                                                  */
/*----------------------------------------------------------------------------*/
html, body {
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  min-width: 500px;

  width: 100%;
  height: 100%;

  overflow: auto;
  background-color: #EDF7F6; /* off white */
  color: black;
}

hr {
  height: 1px;

  border: none;

  background-color: #bbb;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

/*----------------------------------------------------------------------------*/
/* Shorthands                                                                 */
/*----------------------------------------------------------------------------*/
.right {
  float: right;
}

.left {
  float: left;
}

.padded {
  margin: 20px;
}

.relative: {
  position: relative;
}

.full {
  height: 100%;
  width: 100%;
}

.rounded {
  border-radius: 5px;
}

/*----------------------------------------------------------------------------*/
/* Flash messages                                                             */
/*----------------------------------------------------------------------------*/
.error {
  margin-top: 0.60em;

  border: 1px solid #e9322d;

  background-color: #f5b8b2;
  color: black;
}

/*----------------------------------------------------------------------------*/
/* Middle Info                                                                */
/*----------------------------------------------------------------------------*/
.info {
  background-color: black;
  height: 400px;
  width: 800px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -400px;

  overflow:auto;
  color: white;
}

.leftside {
  float: left; 
  width: 50%;
}

.rightside {
  float: right; 
  width: 50%;
}

.intro{
  width: 80%;
  margin-top: 15px;
  margin-left: 15px;
}

.signup {
  float: left; 
  width: 90%;
}

/*----------------------------------------------------------------------------*/
/* Popup Window                                                               */
/*----------------------------------------------------------------------------*/
.button {
  display: inline-block;

  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;

  background: black;
  padding: 5px 10px;
  z-index: 0;
  color: #fff;
}
 
.overlay {
  background-color: rgba(0, 0, 0, .80);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
 
.popup {
  padding: 10px 10px 35px;
  background: #EDF7F6; /* off white */
  color: black;
  z-index: 2;
  display: none;
  position: absolute;

  top:50%;
  left:50%;
  width:300;
  height:300;
  margin-left: -150px;
  margin-top: -150px;
}

.quickadd {
  float: center;
  padding: 10px 10px 35px;
  background: gray;
  color: black;

  top: 50%;
  left: 50%;
  width: 300;
  height: 160;
  margin-left: -150 px;
  margin-top: 0px;
}

/*----------------------------------------------------------------------------*/
/* Top Toolbar                                                      */
/*----------------------------------------------------------------------------*/
.banner {
  display: block;
  position: relative;

<<<<<<< HEAD
  width: 100%;
  height: 60px;
  padding: 10px 10px 10px;
=======
  height:75px;
>>>>>>> 3e2092c4e2a301d6ee5834401fb15e96a823985a

  color: white;
  background-color: black;
}

<<<<<<< HEAD
.banner-center {
  float:center;
}

nav {
  width: 100%;
  margin-right: 5px;
}

nav li {
  float: right;
  padding-right: 10px;
}

.topbuttons {
  color: white;
}

/*----------------------------------------------------------------------------*/
/* Searchbar                                                                  */
/*----------------------------------------------------------------------------*/
.search {
  float: center;
}
#tfnewsearch{
  padding:20px;
}

.tftextinput{
  margin: 0;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  border:1px solid #0076a3; border-right:0px;
  color: black;
}

.tfbutton {
=======
.banner-inner {
  position: relative;

  height: 100%;

  margin-left: 175px;
  margin-right: 175px;
}

.banner-inner h1 {
  position: absolute;

  bottom: 0px;

>>>>>>> 3e2092c4e2a301d6ee5834401fb15e96a823985a
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  border-right:0px;
  background: red;
}

.tfbutton:hover {
  text-decoration: none;
  background: green;
}

/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}

<<<<<<< HEAD
.tfclear{
  clear: both;
}
=======
/*----------------------------------------------------------------------------*/
/* Login form                                                                 */
/*----------------------------------------------------------------------------*/
.content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  min-width: 550px;
  max-width: 800px;
}

.bounding-box {
  width: 100%;

  margin-top: 80px;

  border: solid 1px #bbb;

  background-color: #f4f4f4;
}

.button-align {
  width: 230px;
  text-align: center;
}

.button-align > p {
  margin: 0;
  display: inline;
  line-height: 34px;
}

.button-align > button, input {
  display: inline;
}
>>>>>>> 3e2092c4e2a301d6ee5834401fb15e96a823985a
