/*
 * =============================================================================
 *
 *      Filename:   style.less
 *
 *   Description:   Style rules compiled to CSS. We use LESS because the syntax
                    is a little easier to write.
 *
 *       Version:   0.0.1
 *       Created:   4/10/14
 *
 *        Author:   Collin Stedman
 *
 *         Notes:   If you plan on editing this file, PLEASE follow these
 *                  conventions:
 *
 *                  * Do not use the !important flag unless there is absolutely
 *                    zero alternative.
 *
 *                  * Prefer classes to IDs, and please consider how you can
 *                    reuse the styles you create.
 *
 *                  * LESS is more. You should look up the basic syntax,
 *                    particularly variables, mixins, and parent selectors.
 *
 * =============================================================================
 */
/*----------------------------------------------------------------------------*/
/* Variables                                                                  */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Mixins                                                                     */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* CSS Reset                                                                  */
/*----------------------------------------------------------------------------*/
html,
body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}
div {
  border-radius: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  font-family: 'sans-serif';
}
button {
  background-color: #990604;
}
hr {
  height: 1px;
  border: none;
  background-color: #cccccc;
}
/*----------------------------------------------------------------------------*/
/* Shorthands                                                                 */
/*----------------------------------------------------------------------------*/
.right {
  float: right;
}
.left {
  float: left;
}
.padded {
  margin: 20px;
}
.relative {
  position: relative;
}
.full {
  height: 100%;
  width: 100%;
}
.rounded {
  border-radius: 5px;
}
.button-primary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #cc0704;
}
.button-primary:hover {
  background-color: #990604;
}
/*----------------------------------------------------------------------------*/
/* Top banner                                                                 */
/*----------------------------------------------------------------------------*/
.banner {
  display: block;
  position: fixed;
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 0px 1px 4px #888;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.banner-inner {
  display: block;
  position: relative;
  margin: auto;
  height: 100%;
  max-width: 960px;
}
.banner-inner a {
  text-decoration: none;
  color: black;
}
.banner-inner a:hover {
  color: #990604;
}
.banner-inner h1,
.banner-inner h2,
.banner-inner h3,
.banner-inner h4,
.banner-inner h5,
.banner-inner h6 {
  display: inline;
  margin-right: 20px;
  line-height: 43px;
  vertical-align: middle;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
}
.banner-inner span {
  display: inline;
  line-height: 45px;
  vertical-align: middle;
  margin-right: 20px;
  font-size: 105%;
}
.banner-inner form {
  display: inline;
  line-height: 45px;
  vertical-align: middle;
  float: right;
  margin: 0;
}
.banner-inner form input:focus:invalid {
  border-color: #cc0704 !important;
}
.banner-inner form input:focus:valid {
  border-color: #388f90 !important;
}
.banner-inner .input {
  display: inline-block !important;
  font-size: 80%;
  margin-left: 4px !important;
}
.banner-nav {
  height: 45px;
  float: right;
}
.banner-nav div {
  display: inline-block;
  height: 45px;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 10px;
}
.banner-nav #divide {
  border-right: 2px solid #cecece;
  -webkit-border-image: -webkit-linear-gradient(transparent, #dedede, transparent);
  border-image-slice: 1;
  border-image-width: 1px 2px 0px 0px;
  border-image-repeat: round;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}
.search {
  margin-left: 30px;
}
.search form {
  float: none;
}
#settings {
  display: none;
  position: relative;
  width: 150px;
  float: right;
  margin-right: 23px;
  padding: 10px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 2px 4px #888;
}
#settings:before {
  content: ' ';
  position: absolute;
  right: 0px;
  top: -7px;
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border-bottom-width: 0px;
  border-top-width: 7px;
  border-color: #cc0704;
}
#settings a {
  display: block;
}
#updates {
  display: none;
  position: relative;
  width: 150px;
  float: right;
  margin-right: 23px;
  padding: 10px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 2px 4px #888;
  margin-right: 60px;
}
#updates:before {
  content: ' ';
  position: absolute;
  right: 0px;
  top: -7px;
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border-bottom-width: 0px;
  border-top-width: 7px;
  border-color: #cc0704;
}
#updates a {
  display: block;
}
/*----------------------------------------------------------------------------*/
/* Body content                                                               */
/*----------------------------------------------------------------------------*/
.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 55px;
  max-width: 980px;
}
/*----------------------------------------------------------------------------*/
/* Login form                                                                 */
/*----------------------------------------------------------------------------*/
.feed {
  display: block;
  width: 980px;
  height: 45px;
  background-color: #fff;
  box-shadow: 0px 1px 4px #888;
  padding-top: 10px;
}
/*----------------------------------------------------------------------------*/
/* Login form                                                                 */
/*----------------------------------------------------------------------------*/
.bounding-box {
  width: 100%;
  margin-top: 80px;
  border: solid 1px #fff;
  box-shadow: 0px 1px 4px #888;
  background-color: #fff;
}
.bounding-box input {
  width: 100%;
}
.button-align {
  width: 220px;
  text-align: center;
}
.button-align input {
  width: initial;
}
.button-align > p {
  margin: 0;
  display: inline;
  line-height: 34px;
}
.button-align > button,
input {
  display: inline;
}
/*----------------------------------------------------------------------------*/
/* Flash messages                                                             */
/*----------------------------------------------------------------------------*/
.error {
  margin-top: 0.60em;
  border: 1px solid #cc0704;
  background-color: #f5b8b2;
  color: black;
}
/*----------------------------------------------------------------------------*/
/* Mini Media (for the smallest supported screen sizes)                       */
/*----------------------------------------------------------------------------*/
@media (max-width: 480px) {
  .pure-hidden-mini {
    display: none !important;
  }
}
@media (min-width: 481px) {
  .pure-visible-mini {
    display: none !important;
  }
}
/*----------------------------------------------------------------------------*/
/* Homepage                                                                   */
/*----------------------------------------------------------------------------*/
.linkcontainer {
  width: 980px;
  height: 400px;
  background-color: white;
  box-shadow: 0px 1px 4px #888;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', 'sans-serif';
}
.linkcontainer a {
  text-decoration: none;
  color: #cc0704;
}
.linkcontainer a:hover {
  color: #990604;
  text-decoration: underline;
}
.spaceinbetween {
  height: 20px;
}
.leftsidehome {
  padding: 5px 5px 5px 10px;
  float: left;
  width: 55%;
  height: 390px;
  border-right: 2px solid #cecece;
  border-radius: 0px;
}
.rightsidehome {
  padding: 5px 5px 5px 5px;
  float: right;
  width: 42%;
  height: 390px;
}
/*----------------------------------------------------------------------------*/
/* Formatting Comments                                                        */
/*----------------------------------------------------------------------------*/
.commentAuthor {
  color: #cc0704;
}
.scrollingPadding {
  padding: 20px 5px 20px 5px;
}
.scrollingComments {
  width: 368px;
  height: 250px;
  overflow: scroll;
  border: 1px solid;
  border-color: #cccccc;
  padding: 5px 5px 5px 5px;
}
.newCommentPadding {
  padding-top: 20px;
}
.comment {
  padding: 0;
  margin: 0;
}
.comment p {
  padding: 0;
  margin: 0;
}
/*----------------------------------------------------------------------------*/
/* Glyphs                                                                     */
/*----------------------------------------------------------------------------*/
@font-face {
  font-family: "Flat-UI-Icons";
  src: url('../assets/flat-ui-icons.eot');
  src: url('../assets/flat-ui-icons.eot?#iefix') format('embedded-opentype'), url('../assets/flat-ui-icons.woff') format('woff'), url('../assets/flat-ui-icons.ttf') format('truetype'), url('../assets/flat-ui-icons.svg#flat-ui-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fui-gear,
.fui-list,
.fui-new,
.fui-search {
  font-family: 'Flat-UI-Icons';
  cursor: pointer;
}
.fui-gear:before {
  content: '\e024';
}
.fui-list:before {
  content: '\e00c';
}
.fui-new:before {
  content: '\e00d';
}
.fui-search {
  margin: 0 !important;
  line-height: normal !important;
  vertical-align: normal !important;
}
.fui-search:before {
  content: '\e01c';
}
